{% extends "base.html" %}
{% block content %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100 my-2">
        <div class="card p-5 w-50 shadow-lg rounded-3">
            <h2 class="text-center mb-4">Register User</h2>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <!-- Coloca aquí la primera mitad de los campos -->
                        <div class="mb-3">
                            {{ form.numId.label_tag }}
                            {{ form.numId }}
                        </div>
                        <div class="mb-3">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                        <div class="mb-3">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <!-- Coloca aquí la segunda mitad de los campos -->
                        <div class="mb-3">
                            {{ form.birth_date.label_tag }}
                            {{ form.birth_date }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                        </div>
                        <div class="mb-3">
                            {{ form.photo.label_tag }}
                            {{ form.photo }}
                        </div>
                    </div>
                </div>
                   
                
                <button type="submit" class="btn btn-primary w-100 rounded-3 mt-3">Save User</button>
                <a class="btn btn-warning w-100 rounded-3 mt-3" href="{% url 'user_list' %}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock content %}