{% extends 'base.html' %}
{% load static%}
{%block content%}
    <div class="row justify-content-start">
        <h3>Clients</h3>
        <hr>
        {% for c in object_list.all %}
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                <div class="card mb-4 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 100%; max-width: 350px;">
                    <img src="{% static c.photo.url %}" style="height: 200px; object-fit: cover;" class="card-img-top" alt="User image">
                    <div class="card-body">
                      <h5 class="card-title">User {{ c.full_name }}</h5>
                      {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Numero ID {{ c.numId}}</li>
                      <li class="list-group-item">birthdate {{ c.birth_date}}</li>
                      <li class="list-group-item">email {{ c.email }}</li>
                      <li class="list-group-item">phone number {{ c.phone_number }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'user_update' c.pk %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'user_delete' c.pk %}" class="btn btn-primary">Deleted</a>
                    </div>
                </div>  
            </div>
        {% endfor%}
    </div>
{%endblock content%}