{% extends 'base.html'%}
{% block  content%}
    <div class="container d-flex justify-content-center align-items-center min-vh-100 my-2">
        <div class="card p-5 w-50 shadow-lg rounded-3">
            <h2 class="text-center mb-4">Register User</h2>
                <form action="" method="POST">{% csrf_token %}
                    <p>¿Esta seguro de elimanr el jugador: {{object.full_name}} ?</p>
                    <input type="submit" class="btn btn-primary w-100 rounded-3 mt-3" value="confirm"/>
                    <a class="btn btn-warning w-100 rounded-3 mt-3" href="{% url 'user_list' %}">Cancel</a>
                </form>           
            </form>
        </div>
    </div>


    
    
{% endblock content %}