{% extends 'base.html' %}
{% load static%}
{%block content%}
    <div class="card" style="width: 18rem;">
        <img src="{% static object.photo.url %}" class="card-img-top" alt="vehicle image">
        <div class="card-body">
          <h5 class="card-title">Vehicle {{ object.full_name }}</h5>
          {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Plates {{ object.plates}}</li>
          <li class="list-group-item">States {{object.state}}</li>
          <li class="list-group-item">Cost per day {{object.cost_per_day}}</li>
        </ul>
        <div class="card-body">

          {% if object.state == 'available'%}
          <a href="{% url 'request_form_pk' object.pk %}" class="btn btn-primary">Request</a>
          {% elif object.state == 'requested'%}
          <a href="{% url 'vehicle_update_state' object.pk %}" class="btn btn-primary">Avalible</a>
          <a href="{% url 'vehicle_update_state' object.pk %}" class="btn btn-primary">Rent</a>
          {% elif object.state == 'rented'%}
          <a href="{% url 'vehicle_update_state' object.pk %}" class="btn btn-primary">Avalible</a>
          {% endif %}
        </div>
      </div>  
{%endblock content%}


